name: 'Destroy Infrastructure'

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
  TF_VAR_region: ${{ secrets.GCP_REGION }}

jobs:
  destroy:
    name: 'Terraform Destroy'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_CREDENTIALS }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: |
        BUCKET_NAME="${{ secrets.GCP_PROJECT_ID }}-tf-state"
        terraform init -backend-config="bucket=$BUCKET_NAME"

    - name: Disable Deletion Protection (Apply)
      run: terraform apply -auto-approve

    - name: Terraform Destroy
      run: terraform destroy -auto-approve
