name: 'Terraform Deploy'

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  id-token: write # Required for Workload Identity Federation

env:
  TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
  TF_VAR_region: ${{ secrets.GCP_REGION }}

jobs:
  terraform-plan:
    name: 'Terraform Plan'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # Security Scan
    - name: Run Trivy vulnerability scanner in IaC mode
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: 'fs'
        ignore-unfixed: true
        format: 'table'
        severity: 'CRITICAL,HIGH'
        scan-ref: './terraform'
      continue-on-error: true # Allow to fail for demo purposes

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_CREDENTIALS }} 

    - name: Ensure State Bucket Exists
      run: |
        BUCKET_NAME="${{ secrets.GCP_PROJECT_ID }}-tf-state"
        if ! gcloud storage ls gs://$BUCKET_NAME > /dev/null 2>&1; then
          echo "Bucket $BUCKET_NAME not found. Creating..."
          gcloud storage buckets create gs://$BUCKET_NAME --location=${{ secrets.GCP_REGION }}
        else
          echo "Bucket $BUCKET_NAME already exists."
        fi
        echo "GCP_TF_STATE_BUCKET=$BUCKET_NAME" >> $GITHUB_ENV

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init -backend-config="bucket=${{ env.GCP_TF_STATE_BUCKET }}"

    - name: Terraform Plan
      run: terraform plan -out=tfplan

    - name: Upload Plan
      uses: actions/upload-artifact@v4
      with:
        name: tfplan
        path: terraform/tfplan

  terraform-apply:
    name: 'Terraform Apply'
    needs: terraform-plan
    runs-on: ubuntu-latest
    environment: production # Use this for Manual Approval protection rule in GitHub
    if: github.ref == 'refs/heads/main'
    defaults:
      run:
        working-directory: ./terraform

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Download Plan
      uses: actions/download-artifact@v4
      with:
        name: tfplan
        path: terraform

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_CREDENTIALS }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: |
        BUCKET_NAME="${{ secrets.GCP_PROJECT_ID }}-tf-state"
        terraform init -backend-config="bucket=$BUCKET_NAME"

    - name: Terraform Apply
      run: terraform apply -auto-approve tfplan
